[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lib-ml-remla-12 = "==0.1.2"
flask = "==2.2.4"
flasgger = "==0.9.4"
flask_cors = "==4.0.1"
dvc = {extras = ["gdrive"], version = "==3.50.1"}
numpy = "==1.26.0"
tensorflow = "==2.16.1"
keras = "==3.2.1"
keras-preprocessing = "==1.1.2"

[dev-packages]

[requires]
python_version = "3.11"
