[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lib-ml = {ref = "v0.1.5", git = "git+https://github.com/remla24-team12/lib-ml.git"}
flask = "==2.2.4"
flasgger = "==0.9.4"
dvc = {extras = ["gdrive"], version = "==3.50.1"}
numpy = "==1.26.0"
tensorflow = "==2.16.1"
keras = "==3.2.1"
keras-preprocessing = "==1.1.2"

[dev-packages]

[requires]
python_version = "3.11"
